<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--layout="${longdate} PId:${processid} ${level:upperCase=true} ${message} ${all-event-properties:includeCallerInformation=true} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"-->
    <target name="file"
            xsi:type="File"
            layout="${longdate} ${processid} ${level:upperCase=true} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"
            fileName="${basedir}/Log/${logger}.log"
            keepFileOpen="false"
            encoding="utf-8"
            archiveFileName="${basedir}/Log/Archive/Archive_${logger}_{#}.zip"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            enableArchiveFileCompression="true"/>

  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
